<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Node JS Knockout</title>
</head>

<body id="index" class="home">
<h1>Nodeboard</h1>
<h2>A place for everything.</h2>
<p>Nodeboard is an idea aggregator built on Node JS.</p>
<h2>News is a thing of the past</h2>
<p>Save everything</p>
<ul>
<li>
  <h3>List it</h3>
  <p>Make collections of your data for whatever reason</p>
</li>
<li>
  <h3>Rate it</h3>
  <p>Rate the quality of yours and others public content</p>
</li>
<li>
  <h3>Compete with it</h3>
  <p>Enter your post into competitions. The possibilities are endless</p>
</li>
</ul>
<h2>This all sounds familiar, what is the deal?</h2>
<p>Well here is the kicker. You can do all this through unlimited personas. Nodeboard was designed with the 90/9/1 rule. We know that a small number of people create most of the content. Know they can do it for as many personas as they want by switching views</p>
<p>
<a href="http://nodeknockout.com/teams/YOUR_TEAM_SLUG" target="nko" title="Help me win Node.js KO!"><img  src="http://nodeknockout.com/images/voteko.png" alt="Help me win Node.js KO!" /></a>
</p>
</body>
</html>