*{
  margin:0;
  padding:0;
}
body {
  background:#F5F4EF;
  color:#222;
  font-family:'Trebuchet MS',Trebuchet,'Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
  font-size:14px;
  line-height:1.6em;
  margin:0;
  padding:0;
  text-align:left;
}
a {
  color:#666;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
h1{color:#333;font-size:40px;}
h2{color:#666;font-size:21px;}
#index {
  width:960px;
  margin:0 auto;
  position:relative;
  display:block;
  padding:12px 0;
  background:#fff url(../img/bg.jpg) no-repeat -65px -10px;
}
#header{
  height:70px;
  position:relative;
}
#header h1{
  position:absolute;
  width:300px;
  left:97px;
  top:22px;
  line-height:20px;
  color:#004276;
}
#header h1 span{
  color:#cc0000;
}
#header a{
}
#header img{
  border:none;
  margin:0;
}
#nav {
  position:absolute;
  top:3px;
  right:4px;
}
#nav li{
  list-style-type:none;
  display:inline-block;
  margin:0 26px;
  padding:0;
}
#nav li.active{
  background:#666;
}
#nav li.active a{
  color:#fff;
}
#content{
  margin:0 0;
  position:relative;
  display:block;
  height:520px;
  background:transparent url(../img/blood.jpg) no-repeat 700px 340px;
}
#sidebar{
  position:absolute;
  width:220px;
  top:12px;
  left:36px;
}
#sidebar .user-list{
  margin:0 0 36px 0;
}
#sidebar .user-list h2{
 font-size:16px;
 padding:6px 12px;
}
#sidebar ul{
  display:block;
  height:auto;
  max-height:184px;
  overflow:auto;
}
#sidebar li{
  list-style-type:none;
  padding:6px 12px;
}
#state{
  font-size:18px;
  font-weight:bold;
  position:absolute;
  right:186px;
  top:-59px;
}
#state a{
  color:#004276;
}
#state a:hover{
  color:#cc0000;
}
#board{
  background:#fff;
  position:absolute;
  width:640px;
  height:480px;
  right:36px;
  border:1px solid #cc0000;
  top:12px;
  background:transparent url(../img/cat.jpg) no-repeat;
}
#footer{
  margin:0 40px 0;
  text-align:center;
  border-top:1px solid #ccc;
  padding-top:6px;
  color:#999;
}
#rules {
  margin:12px 100px 12px 100px;
}
#rules p{
  margin: 0 0 24px 0;
}
#rules h2{
  color:#004276;
  margin-bottom:12px;
}